*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  overflow: overlay;
}

:root {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: clamp(1rem, 0.2rem + 1.5vw, 1.5rem);
}
article {
  column-count: 2;
  max-inline-size: 66ch;
  line-height: 1.65;
}

/* seo 적용을 위한 h1 태그 입니다. */
#seo {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  user-select: none;
  white-space: nowrap;
}
/* 요소보다 더 커질 수 없습니다. */
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
  object-position: top center;
}

h1 {
  font-family: Georgia, serif;
  text-align: center;
  font-weight: normal;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1em;
}

h1::before,
h1::after {
  content: "";
  border-top: 0.1em double black;
  align-self: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 1em;
}

/* 가로 모드 상황 css 적용 */
@media (orientation: landscape) {
}
/* 세로 모드 상황 css 적용 */
@media (orientation: portrait) {
}
@media (min-width: 50em) and (min-height: 60em) {
  article {
    column-count: 2;
  }
}
